[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = ">=5.5"
#jupyterlab = ">=0.35.4"
nbconvert = ">=5.4"
notebook = ">=5.2.0"
# pyyaml 6.0 added backwards incompatible change https://github.com/yaml/pyyaml/issues/576
pyyaml = ">=3.13, <6.0.0"
requests = ">=2.20.1"
# nbconvert is not compatible with tornado 6 (which is in alpha)
#tornado = ">=5"
boto3 = ">=1.9"
# TODO remove this requirement once jupyter/nbconvert solves the issue https://github.com/jupyter/nbconvert/issues/1736
jinja2 = "~=3.0.0"

[dev-packages]
flake8 = "*"
pytest = "*"
pyyaml = "*"
sphinx = "*"
twine = "*"
wheel = "*"
