[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = ">=7.2"
jupyterlab = ">=0.35.4"
nbconvert = ">=5.4"
notebook = ">=5.7.2"
nuclio-sdk = ">=0.0.3"
pyyaml = ">=3.13"
requests = ">=2.20.1"
# nbconvert is not compatible with tornado 6 (which is in alpha)
tornado = ">=5,<6"
boto3 = ">=1.9"

[dev-packages]
flake8 = "*"
pytest = "*"
pyyaml = "*"
sphinx = "*"
twine = "*"
